@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

body {
  font-family: Poppins, sans-serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

.word::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  opacity: 0;
  background-image: linear-gradient(90deg, #4ade80, #10b981, #4ade80);
  mix-blend-mode: screen;
  animation: op 3s linear 0.2s infinite alternate;
  -webkit-animation: op 3s linear 0.2s infinite alternate;
}

@keyframes op {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
